#ifndef SECRETS_H

#define GEOLOCATION_API_KEY "big-long-key-here-that-is-secret"  // free for 5k loopkups per month. Get yours on https://www.abstractapi.com/ (login) --> https://app.abstractapi.com/api/ip-geolocation/tester (key)

#define SECRET_WIFI_SSID "Your-SSID"
#define SECRET_WIFI_PASSWD "Your-password"

#define MQTT_BROKER "smartnest.cz"		// Broker host
#define MQTT_PORT 1883				// Broker port
#define MQTT_USERNAME "username"		// Username
#define MQTT_PASSWORD "passwd-or-apikey"	// Password

#define SECRETS_H
#endif
