#ifndef SECRETS_H

#define GEOLOCATION_API_KEY "big-long-key-here-that-is-secret"  // free for 5k loopkups per month. Get yours on https://www.abstractapi.com/ (login) --> https://app.abstractapi.com/api/ip-geolocation/tester (key)

#define SECRET_WIFI_SSID "Your-SSID"
#define SECRET_WIFI_PASSWD "Your-password"

// to use MQTT, you need a broker.  Either install mosquitto on a machine
// on your LAN, or use a public broker like smartnest.cz, on which you
// will have to create an account.  Then fill in your MQTT secrets below.
// The standard port is 1883, but you can use any other port assuming you
// configure your broker (or firewall) to handle the new port.  I use a
// "funny" port to "confuse" crackers.  (Security by obscurity)

#define MQTT_ENABLED  // enable after creating an account, setting up the device on smartnest.cz and filling in all the data below:

#define MQTT_CLIENT "EleksTubeIPS"		// "base" topic, can be anything
#define MQTT_BROKER "smartnest.cz"		// Broker host
#define MQTT_PORT 1883				// Broker port
#define MQTT_USERNAME "username"		// Username
#define MQTT_PASSWORD "passwd-or-apikey"	// Password

/* MQTT messages are:
  topic/report/signal		integer = WiFi RSSI (normally < 0)
  topic/report/network		WiFi SSID
  topic/report/online		true/false
  topic/report/firmware		FIRMWARE_VERSION
  topic/report/ip		<ipv4 address>
  topic/report/powerState	ON/OFF turns display on/off
  topic/report/setpoint		integer font number 0-9 -> 5 to 50 by 5's ??
 */

#define SECRETS_H
#endif
